// src/components/common/StarRating/StarRating.scss
@import '../../../styles/variables';

.star-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stars {
  display: flex;
  .star {
    width: 16px;
    height: 16px;
    color: #e0e0e0; // Màu sao rỗng

    &.filled {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  .star-container {
      position: relative;
      width: 16px;
      height: 16px;
      .star {
          position: absolute;
          top: 0;
          left: 0;
      }
      .half-filled {
          color: $accent-color;
          fill: $accent-color;
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
      }
  }
}

.rating-text {
  font-size: 0.85rem;
  color: #777;
}